<!-- {{chocolatedata | json}} -->
<!-- <div class="chocolate-list">
  <div class="chocolate-item" *ngFor="let chocolate of chocolatedata">
  <div class="item-name">{{chocolate.name}}</div>
  <div class="item-brand">
  {{chocolate.brand}}
  </div>
  <div class="item-price">
    {{amountpriceperhundred(getLowPrice(chocolate.prices).price, getLowPrice(chocolate.prices).amount, getLowPrice(chocolate.prices).unit)  | number: '1.2-2' }}
  </div>
  <div class="item-average">
    {{GetAveragePrice(chocolate.prices)}}
  </div>
  <div class="item-link">
    {{getLowPrice(chocolate.prices).price}}
  </div>
  </div>
</div> -->

<router-outlet></router-outlet>